<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Correct Node.js handler -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Rewrite all requests to server.js -->
    <rewrite>
      <rules>
        <rule name="DrishtiReportsPool" stopProcessing="true">
          <match url="^(?!src/server\.js$).*" />
          <action type="Rewrite" url="src/server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Pass Express responses -->
    <httpErrors existingResponse="PassThrough" />

    <webSocket enabled="true" />

    <iisnode loggingEnabled="true" logDirectory="logs\\iisnode" devErrorsEnabled="true" node_env="production" nodeProcessCountPerApplication="2" maxConcurrentRequestsPerProcess="4096" />
    
  </system.webServer>
  
</configuration>
